/* assets and fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bg: #0a0a0a;
    --setup_bg: #000000af;
}

body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background: var(--bg);
    user-select: none;
}

.layout--main__setup {
    padding: 70px;
    position: absolute;
    width: 30%;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: var(--setup_bg);
}

.c-header {
    color: white;
    font-size: 30px;
    font-weight: 300;
}
.c-header-s {
    font-weight: 200;
    font-size: 20px;
}

.c-link_s--inline {
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: white;
}
.c-link_s--inline:hover {
    background: rgba(48, 48, 48, 0.103);
}

.c-link--img {
    display: inline-block;
}
.c-link--body {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.grid--top-setup {
    display: grid;
    grid-template-columns: 1fr;
}

p {
    font-weight: 300;
}

.v-align--middle {
    vertical-align: top;
}

a {
    text-decoration: none;
}

#version {
    font-size: 10px;
    font-weight: 500;
}
